<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FetShop</title>
    <link href="/resources/css" rel="stylesheet">
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            background-color: #b0b0b0;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        main {
            flex: 1;
        }
        .header{
            background-color: cornflowerblue;
        }
        .product-container {
            display: flex;
            justify-content: space-between;
        }
        .product {
            flex-basis: 30%;
            padding: 1rem;
            border: 1px solid #ccc;
            margin: 0.5rem;
            text-align: center;
            position: relative;
            background-color: #9ca3af;
        }
        .remove-button, .buy-button {
            background-color: red;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            margin-top: 10px;
        }

        .remove-button {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }

        .buy-button {
            background-color: green;
        }

        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header-buttons {
            display: flex;
            gap: 10px;
        }

        .header-button {
            background-color: red;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }

        .header-title {
            flex-grow: 1;
            text-align: center;
        }

        .spacer {
            flex-basis: 80px;
        }
    </style>
    <script>
        async function sendReq(url, method, headers = null, data = null) {
            const options = { method: method, headers: { "Content-type": "application/json", ...headers } }
            if (method != "GET" && data != null) options.body = JSON.stringify(data);
            const res = await fetch(url, options)
            const text = await res.text()
            return text;
        }

        let products;
        document.addEventListener('DOMContentLoaded', async () => {
            const result = await sendReq('http://localhost:3000/api/products', "GET");
            const products = JSON.parse(result)

            document.getElementById('p1_image').src = "data:image/png;base64," + products[0].photo
            document.getElementById('p1_name').innerText = products[0].name
            document.getElementById('p1_price').innerText = products[0].price
            document.getElementById('p1_desc').innerText = products[0].description

            document.getElementById('p2_image').src = "data:image/png;base64," + products[1].photo
            document.getElementById('p2_name').innerText = products[1].name
            document.getElementById('p2_price').innerText = products[1].price
            document.getElementById('p2_desc').innerText = products[1].description

            document.getElementById('p3_image').src = "data:image/png;base64," + products[2].photo
            document.getElementById('p3_name').innerText = products[2].name
            document.getElementById('p3_price').innerText = products[2].price
            document.getElementById('p3_desc').innerText = products[2].description
        })
    </script>

</head>
<body class="font-sans">
<header style="background-color: #4c7e93;" class="text-center p-4">
    <h1 class="text-2xl font-bold">Nejlepší obchod pro feťáky</h1>
</header>
<main class="container mx-auto p-4">

    <section id="featured-products" class="my-4 flex flex-wrap gap-8">

        <div class="product bg-white border border-gray-300 rounded-lg overflow-hidden w-64 gap-8">
            <img id="p1_image" alt="Bílá slepice" class="w-full h-48 object-cover">
            <div class="p-4">
                <h3 class="text-md font-semibold mb-2" id="p1_name"></h3>
                <p class="mb-2">Popis: <span id="p1_desc"></span></p>
                <p class="price-tag">Cena: <span id="p1_price"></span> Kč</p>
                <a href="/buy/Jedna" class="buy-button mt-2">Koupit</a>
            </div>
        </div>

        <div class="product bg-white border border-gray-300 rounded-lg overflow-hidden w-64 gap-8">
            <img id="p2_image" alt="Hnědá slepice" class="w-full h-48 object-cover">
            <div class="p-4">
                <h3 class="text-md font-semibold mb-2" id="p2_name"></h3>
                <p class="mb-2">Popis: <span id="p2_desc"></span></p>
                <p class="price-tag">Cena: <span id="p2_price"></span> Kč</p>
                <a href="/buy/dva" class="buy-button mt-2">Koupit</a>
            </div>
        </div>

        <div class="product bg-white border border-gray-300 rounded-lg overflow-hidden w-64 gap-8">
            <img id="p3_image" alt="Černá slepice" class="w-full h-48 object-cover">
            <div class="p-4">
                <h3 class="text-md font-semibold mb-2" id="p3_name"></h3>
                <p class="mb-2">Popis: <span id="p3_desc"></span></p>
                <p class="price-tag">Cena: <span id="p3_price"></span> Kč</p>
                <a href="/buy/tri" class="buy-button mt-2">Koupit</a>
            </div>
        </div>
    </section>
    <section id="about-shop" class="my-4">
        <h2  class="text-xl font-bold text-center">O Obchodě</h2>
        <p  class="text-md text-yellow-400 text-center">rs
            Kámo, pravý feťáci nakují jedině tady. Pořád přidáváme nový produkty abys ty měl co do nosu. Dík, že tu nakupuješ bratu.
        </p>
    </section>
</main>
<footer class="text-center p-4 mt-4 bg-white-200">
    <p>© FetShop</p>
</footer>
</body>


</html>

